body{
    font-family: 'Poppins', sans-serif;
}

h2{
    font-weight: 650;
}

#current-page{
    color: #1204B5;
    font-weight: 600;
}


/* CAROUSEL */
.c-item {
    height: 568px;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}

.nav-link{
    position: relative;
}

.nav-link::after {
    content: '';
    opacity: 0;
    transition: all 0.2s ease-in;
    height: 2px;
    width: 100%;
    background-color: blue;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link:hover::after{
    opacity: 1;
}

#userCircle {
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
}

#explore-btn, #login-btn, .customBtn{
    background-color: #1204B5;
    color: #fff;
    border: none;
}

#login-btn:hover, .customBtn:hover {
    background-color: #2815ff;
    color: #fff;
}

#explore-btn:hover{
    background-color:#1204B5;
    border: 2px solid white;
}

#search-btn:hover {
    background-color:#1204B5;  
}

/* Card */
    .tourCards{
    margin-bottom: 7%;
}

.card{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: none;
}

.perPerson{
    font-size: 0.8em;
    color: #707070;
    margin-bottom: 0;
}

.card-img-top{
  /* width: 326px; */
  height: 170px;
  object-fit: cover;
}

.cardPrice{
    color:#4992ff!important;
    font-weight: 600;
    font-size: 0.85em;
    margin-bottom: 0;
}

.stars{
  margin: 0;
  color:#de7a00;
}

.cardHeader{
    color:#2c2c2c;
    font-weight: 650;
    margin-bottom: 0;
}

/* Why easyGo */
.blueSection{
    background-color: #0f066c;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='12' viewBox='0 0 40 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.172L6.172 0h5.656L0 11.828V6.172zm40 5.656L28.172 0h5.656L40 6.172v5.656zM6.172 12l12-12h3.656l12 12h-5.656L20 3.828 11.828 12H6.172zm12 0L20 10.172 21.828 12h-3.656z' fill='%23150984' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    color: #fff;
    padding: 5%;
    /* margin: 30px 0; */
}

.ptext-light{ 
    color: rgb(208, 223, 255);
}


/* Reviews */

.testimonial-card {
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    background-color: #fff;
    text-align: center;
    height: 100%;
  }
  .testimonial-card .imgPerson {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-bottom: 15px;
  }
  .testimonial-card h5 {
    margin: 10px 0 5px;
    font-weight: bold;
    color: #1204B5;
  }
  .testimonial-card p {
    color: #6c757d;
  }
  .testimonial-group .testimonial-item {
    display: flex;
    justify-content: center;
   
  }
 
/* Footer */
footer{
    background-color: #0f066c;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='12' viewBox='0 0 40 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.172L6.172 0h5.656L0 11.828V6.172zm40 5.656L28.172 0h5.656L40 6.172v5.656zM6.172 12l12-12h3.656l12 12h-5.656L20 3.828 11.828 12H6.172zm12 0L20 10.172 21.828 12h-3.656z' fill='%23150984' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    
}

.textSmall {
    font-size: small; 
    color: rgb(185, 207, 255);
}

ul li i, div i{
    color: #4992ff;
}

.copyright{
    font-size: 0.7em; 
    color: rgb(104, 130, 188);
}

.footerBottom{
    background-color: #0a044e;

}

/* Quick Links Hover Effect */
.quick-links ul li a {
    font-size: small; 
    color: rgb(185, 207, 255);
    transition: all 0.3s ease;
  }
  
  .quick-links ul li a:hover {
    color: #ff9900; /* Highlight color */
  }
  
  /* Social Media Icons Hover Effect */
  .social-icons a i {
    font-size: small; 
    color: #4a93ff;
    transition: color 0.3s ease;
  }
  
  .social-icons a:hover i {
    color: #ff9900; /* Highlight color */
  }


/* ABOUT US */

.hero-section {
    position: relative;
    height: 220px;
    overflow: hidden;
  }

  /* Image Layer */
  .hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../assets/images/Solitary Traveler at Airport.jpeg') no-repeat center center;
    background-size: cover;
    filter: brightness(50%); /* Darkens the image */
    z-index: 1; /* Places the image behind the text */
  }

  /* Text Layer */
  .hero-text {
    position: relative;
    z-index: 2; /* Places the text above the image */
    color: white;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
  }

    /* Key Point Cards */
  .keyPointContainer{
    background: rgb(242,255,255);
background: linear-gradient(0deg, rgba(242,255,255,1) 0%, rgba(234,238,255,1) 100%);
  }

  section .text-center .card{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .card .card-body i {
    color:#2514e3;
  }

  .card .card-body p, .grey-text{
     color: #6c757d;
  }

  /* Book Tour */

  .book-btn:hover,.halfSection a .book-btn:active  {
    color:#1204B5;
    font-weight: 550;
  }
  
  /* Meet the Team */
  .card-body .card-name{
    color:#2c2c2c;
  }

  .team-card{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

  div .card .card-body .card-position{
    color:#de7a00;
  }


  /* CONTACT US */


  /* Image Layer */
  .hero-image-contact {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../assets/images/Tranquil Moment at the Airport.jpeg') no-repeat center center;
    background-size: cover;
    filter: brightness(50%); /* Darkens the image */
    z-index: 1; /* Places the image behind the text */
  }


  /* Contact Form */

  .form{
    background: rgb(242,255,255);
    background: linear-gradient(0deg, rgba(242,255,255,1) 0%, rgba(234,238,255,1) 100%);
  }

  .form-control{
    color:#454545;
  }

  .contact-card {
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
  }

  .contact-info {
    background-color: #0f066c;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='12' viewBox='0 0 40 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.172L6.172 0h5.656L0 11.828V6.172zm40 5.656L28.172 0h5.656L40 6.172v5.656zM6.172 12l12-12h3.656l12 12h-5.656L20 3.828 11.828 12H6.172zm12 0L20 10.172 21.828 12h-3.656z' fill='%23150984' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    color: white;
    border-radius: 10px;
    padding: 20px;
    height: 100%;
    width: 100%;
  }

  .contact-bubble{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
  }

  .contact-info h4 {
    margin-bottom: 15px;
  }

  .contact-info p {
    margin-bottom: 10px;
    font-size: 0.9rem;
  }

  .social-icons-contact-page a:hover i,  .orangeText{
    color: #de7a00;
  }

  .blueText{
    color: #1204B5;
  }


/* FAQ */
 
  .faq-section {
    margin-top: 50px;
  }

  .faq-section h2 {
    text-align: center;
  }

  .accordion-button {
    background:#1204B5;
    color: white;
  }

  .accordion-button:not(.collapsed) {
    background: rgb(242,255,255);
  }



  /* EXPERIENCES */

 /* Hero Section */
.hero-section-exp {
    position: relative;
    height: 360px;
    background: url('../assets/images/Serene River Journey1.jpeg') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.hero-text {
    z-index: 1;
}

.hero-image-exp {
    height: 100%;
    width: 100%;
    filter: brightness(0.5);
    position: absolute;
    top: 0;
    left: 0;
}

/* Search Bar */
.search-bar-container {
    top: 95%; /* Adjust for positioning */
    transform: translateY(-50%);
    z-index: 2;
}

.search-bar {
    background-color: rgba(255, 255, 255, 0.78);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
}

.form-label{
  color:#454545;
  font-weight: 400;
  font-size: small;
}

.customBtn {
    background-color: #1204B5;
    color: white;
    border: none;
}

.customBtn:hover {
    background-color: #2815ff;
}

.explore-card{
  margin-top:110px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {

  .hero-text h1{
    font-size: 2.1rem;
  }

    .search-bar-container {
        top:90%;
    }

    .explore-card{
      margin-top:90px;
    }
}

/* Pagination */
.pagination li a{
  color: #1204B5;
}

.pagination li a:hover{
  color:#3964ff;
  background-color: #ebf3fe;
}

.pagination li .active{
  background-color:#1204B5;
}

.pagination li .disabled{
  background-color: #d0dff5;
  color: #7e76d5;
}

/* LOGIN PAGE */

.sign-in{
  border-radius: 8px;
  text-transform: uppercase;
  font-size:smaller;
  border: 1.5px solid #de7a00;
  color: #de7a00;
}

a .sign-in:hover, a .sign-in:active{
  background-color:#de7a00 !important;
  border: 1px solid #de7a00 !important;
}

.form-container {
  /* max-width: 900px; */
  background: #fff;
  /* border-radius: 10px; */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  overflow: hidden;
  padding: 0;
}

.form-left {
  background: rgb(242,255,255);
  background: linear-gradient(0deg, rgba(242,255,255,1) 0%, rgba(234,238,255,1) 100%);
  padding: 40px;
  color:#1204B5;
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .form-left{
    width:100%
  }
}


.form-right {
  flex: 1;
  padding: 8px 40px 40px;
}

.toggle-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.toggle-buttons button {
  border: none;
  background: none;
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
}

.toggle-buttons .active {
  font-weight: 600;
  border-bottom: 3px solid #1204B5;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  border-radius: 5px;
  padding: 15px;
  font-size: 16px;
}

.btn-custom {
  background:#1204B5;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  transition: 0.3s;
  width: 100%;
}

.btn-custom:hover {
  background:#3964ff;
  color: white;
}

.social-login {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.social-login a {
  display: inline-block;
  width: 40px;
  height: 40px;
  /* background: #f0f0f0; */
  border: 1px solid #4992ff;
  color:#1204B5;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  transition: 0.3s;
}

form .social-login a:hover {
  background:#1204B5;
  color: #fff;
}

.line{
  border-bottom: 1px solid #969696;
  width: 25%;
}

.login-footer{
  margin-bottom: 0;
  line-height: 2px;
  color: #8b8b8b;
}

/* Details Page */

 /* Hero Section */
 .tour-details-hero {
  position: relative;
  height: 350px;
  background: #000;
}

.tour-details-hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
}

.tour-details-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.tour-details-text {
  position: absolute;
  bottom: 20px;
  left: 30px;
  color: #fff;
}

/* Booking Section */
/* Booking Section */
.booking-section {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
}

.payment-icons img {
  margin: 0 10px;

}

.btn-custom {
  background-color: #1204B5;
  border: 1px solid #1204B5;
  color: #fff;
  border-radius: 5px;
}

.btn-custom:hover {
  background-color: #1d4eff;
}

#bookingMessage {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Reviews Section */
.reviews-section {
  background: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
}

.review-card {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.review-card:last-child {
  border-bottom: none;
}

/* Curator Info */
.curator-info {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  border-radius: 10px;
}

.tour-overview-section{
  background: #fff;
}

/* CURATOR PAGE */
/* Image Layer */
.hero-image-curator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../assets/images/Tranquil Balcony Vista.jpeg') no-repeat center center;
  background-size: cover;
  filter: brightness(50%); /* Darkens the image */
  z-index: 1; /* Places the image behind the text */
}

.logout-btn{
  border: 1.5px solid #de7a00;
  color: #de7a00;
}

.logout-btn:hover, .logout-btn:active{
  background-color: #de7a00!important;
  color: #fff!important;
}
